.feedback__button{
width: 100px;
height: 30px;
background-color: black;
color: azure;
border-radius: 10%;
margin-left: 5px;
}
.feedback__button:nth-child(2) {
  margin-left: 0px;
}
.feedback__button:hover {
    background-color: antiquewhite;
    color: black;
}